version: '3.8'

services:
  # MySQL Database Service
  mysql:
    image: mysql:8.0  # Use the latest stable MySQL image
    container_name: mysql_container
    ports:
      - "3306:3306"  # Expose MySQL on port 3306
    environment:
      MYSQL_ROOT_PASSWORD: password  # Replace with a strong password
      MYSQL_DATABASE: attendance_db      # Database name
      MYSQL_USER: user                   # Custom user
      MYSQL_PASSWORD: password       # Password for the custom user
    volumes:
      - mysql_data:/var/lib/mysql  # Persist MySQL data
    networks:
      - app_network # Assign to the app_network
    healthcheck: # Healthcheck to ensure DB is ready before app starts
        test: [ "CMD-SHELL", "mysqladmin ping -h localhost -u$$MYSQL_USER -p$$MYSQL_PASSWORD" ]
        interval: 5s
        timeout: 5s
        retries: 10 # Increase retries for database startup

#  spring-app:
#    build:
#      context: .
#      dockerfile: Dobberfile
#    ports:
#      - "8080:8080"
#    depends_on:
#      mysql:
#        condition: service_healthy
#    networks:
#      - app_network
#    command: ["--enable-preview", "-jar", "facedec.jar"]
#    environment:
#      # --- REFERENCE LOCAL .ENV FILE VARIABLES HERE ---
#      JWT_SECRET: 62862ccc0e22c76d796e3b8424c50112e57be65ee34440339046b951e46ed58d6fe8e62ad20a3169c3e2b31e7603fc1da0f73753b9b301a1fa998ca4dd0cbc526ad784310adaf2821e08253f74facc77c84c56430591d0818a656a39e0266f67ac8ed9d7625d17fd19fef68b89ad36cd11a3fe9190f2f75171ab6ea118a9c9b4c098d320c0077a5d997714d960b6b829151ea2cab7938c600a47afabcfb8faf7f6fcc427bf7fcda43e1f40caefbfd90e8fae12a2553667c1ad8e22d14e5f1a2efca7d12c6ddd024f1ad4712852a52139a702f898b7c8982bc526d46426908493887b70fe1ec315c8f9a6d4629478230acc60328455c363e064865bd6989cedf8
#      JWT_EXPIRATION_TIME: 6000000

# Define Volumes
volumes:
  mysql_data:

# Define Network
networks:
  app_network:
    driver: bridge